<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WixSetupProject" Language="1033" Version="1.0.0.0" Manufacturer="Me" UpgradeCode="f3d70d2b-5e01-4c0c-96d5-d7a865773a6a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="no" />

    <Feature Id="ProductFeature" Title="WixSetupProject" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WixSetupProject" >
          <!-- Insert more internal items here -->
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="DIR_Shortcuts" Name="Wpf Sample Application" />
      </Directory>
    </Directory>
    
    <DirectoryRef Id="DIR_Shortcuts">
      <!-- Shortcuts -->
      <Component Id="CMP_Shortcuts" Guid="097CCD58-FA75-49EE-85E6-6FD29C842646">
        <!-- Shortcuts for the shell -->
        <Shortcut Id="SCUT_Shortcuts_Shell" Name="Wix Wpf Application" Target="[INSTALLFOLDER]WixWpfApplication.exe" />
        <!-- Uninstall shortcut -->
        <Shortcut Id="SCUT_Shortcuts_Uninstall" Name="Uninstall Composite WPF App" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="REMOVE_Shortcuts" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\WiXTraining\RainerStropek" Name="installedShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Mandatory shell feature -->
    <Feature Id="Shell" Title="Shell" Level="1" InstallDefault="local" Absent="disallow">
      <ComponentRef Id="CMP_INSTALLFOLDER_Shell"/>
      <ComponentRef Id="CMP_Shortcuts"/>
    </Feature>

  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CMP_INSTALLFOLDER_Shell">
        <!-- File ID Denotes what the file is going be called inside the CAB -->
        <File Id="WixWpfApplication.exe" Source="..\WixWpfApplication\bin\debug\WixWpfApplication.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>